body {
  background-color: powderblue;
}

hr {
  background-color: none;
  height: 0px;
  border-style: dotted none none none;
  border-width: 5px;
  border-color: grey;
  width: 10%;
}

h1, h2{
  color: #66BFBF;
}
