body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

h1 {
  margin: 50px auto 0px auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66bfbf;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999e;
}

a {
  color: #11999e;
}

p{
  line-height: 2;
}

hr{
  border-top: dotted;
  border-bottom: none;
  border-left: none;
  width: 6%;
  border-width: 7px;
  border-color: #eaf6f6;
  margin: 100px auto;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  color: #eaf6f6;
  padding: 30px 0;
}

.poli {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.teacher{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.internet{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.footer-link{
  margin: 0 2%;
}

.btn {
  margin: 30px auto;
	background-color:#66bfbf;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	padding:20px 20px;
	text-decoration:none;
}
.btn:hover {
	background-color:#66bfFf;
}
